# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
dist
.turbo

# BUCK
#
buck-out/
\.buckd/

# *.keystore
#
!debug.keystore

# Bundle artifact
#
*.jsbundle

# Enviroment
#
.env
